/* styles.css */
body {
    font-family: Arial, sans-serif;
 background-color:lightskyblue; 
 background-image: url(adesign.png);
    /* background-image: url(images.jpg); */
    padding: auto;
    margin: auto;
}


.login-container {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url(back\ design.png);
}

.form-group {
    margin-bottom: 15px;
   
}

label {
    display: block;
    margin-bottom: 5px;
   
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-image: url(back\ design.png);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    align-content: center;
}

button:hover {
    background-color: grey;
    color: black;
}
/* header { 
    background-color:black;
    color: white;
    padding: 20px 0;
    margin: 20px;
    border-radius: 20px;
    background-image: url(b);
}*/
#sty{
    font-size: 25px;
    margin: 30px;
}

